<div class="about-page">
    <div class="filter">
        <div class="department">
            <div class="title">
                <input type="checkbox" class="department-checkbox-group" id="department-checkbox-group" autocomplete="off">
                <label for="department-checkbox-group">
                    مبحث
                </label>
            </div>
            <div class="checkbox">
                <div class="item">
                    <input type="checkbox" id="department-checkbox-astronomy" class="department-checkbox-item" disabled="disabled" autocomplete="off">
                    <label for="department-checkbox-astronomy"></label>
                    <div class="label">نجوم</div>
                </div>
                <div class="item">
                    <input type="checkbox" id="department-checkbox-biology" class="department-checkbox-item" disabled="disabled" autocomplete="off">
                    <label for="department-checkbox-biology"></label>
                    <div class="label">زیست شناسی</div>
                </div>
                <div class="item">
                    <input type="checkbox" id="department-checkbox-math" class="department-checkbox-item" disabled="disabled" autocomplete="off">
                    <label for="department-checkbox-math"></label>
                    <div class="label">ریاضی</div>
                </div>
                <div class="item">
                    <input type="checkbox" id="department-checkbox-chemistry" class="department-checkbox-item" disabled="disabled" autocomplete="off">
                    <label for="department-checkbox-chemistry"></label>
                    <div class="label">شیمی</div>
                </div>
                <div class="item">
                    <input type="checkbox" id="department-checkbox-physics" class="department-checkbox-item" disabled="disabled" autocomplete="off">
                    <label for="department-checkbox-physics"></label>
                    <div class="label">فیزیک</div>
                </div>
                <div class="item">
                    <input type="checkbox" id="department-checkbox-literature" class="department-checkbox-item" disabled="disabled" autocomplete="off">
                    <label for="department-checkbox-literature"></label>
                    <div class="label">ادبیات</div>
                </div>
                <div class="item">
                    <input type="checkbox" id="department-checkbox-computer" class="department-checkbox-item" disabled="disabled" autocomplete="off">
                    <label for="department-checkbox-computer"></label>
                    <div class="label">کامپیوتر</div>
                </div>
            </div>
        </div>
        <div class="course-and-type">
            <div class="course">
                <div class="check-title">
                    <input type="checkbox" class="instructor-course-search-box" id="instructor-course-search-box"  autocomplete="off">
                    <label for="instructor-course-search-box">
                        درس
                    </label>
                </div>
                <input type="text" class="input_st1" id="search-instructor-by-course" disabled="disabled" autocomplete="off">
                <div id="sug-search-instructor-by-course" class="suggestion">
                </div>
            </div>
            <div class="type">
                <div class="check-title">
                    <input type="checkbox" class="instructor-type-check-box" id="instructor-type-check-box" autocomplete="off">
                    <label for="instructor-type-check-box">
                        زمینه فعالیت
                    </label>
                </div>
                <div class="checkbox">
                    <div class="item">
                        <input type="checkbox" id="type-checkbox-olympiad" class="type-checkbox-item" disabled="disabled" autocomplete="off">
                        <label for="type-checkbox-olympiad"></label>
                        <div class="label">المپیاد</div>
                    </div>
                    <div class="item">
                        <input type="checkbox" id="type-checkbox-konkur" class="type-checkbox-item" disabled="disabled" autocomplete="off">
                        <label for="type-checkbox-konkur"></label>
                        <div class="label">کنکور</div>
                    </div>
                    <div class="item">
                        <input type="checkbox" id="type-checkbox-general" class="type-checkbox-item" disabled="disabled" autocomplete="off">
                        <label for="type-checkbox-general"></label>
                        <div class="label">درسی</div>
                    </div>
                    <div class="item">
                        <input type="checkbox" id="type-checkbox-counsel" class="type-checkbox-item" disabled="disabled" autocomplete="off">
                        <label for="type-checkbox-counsel"></label>
                        <div class="label">مشاوره</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="instructor-feed">
        <div class="long-box outer-box-shadow-2">
            <div class="thumbnail">
                <img src="Resources/Logos/home/contest.jpg">
            </div>
            <div class="info">
                <div class="head-text">
                    <div class="instructor-name blue-default-font">
                        آرمین بهنام نیا
                    </div>
                    <div class="instructor-field instructor-field-astronomy">
                        نجوم
                    </div>
                </div>
                <div class="main-text">
                    <div class="tab-contents">
                    </div>
                    <div class="tabs">
                        <div class="tab-1 item">
                            <input type="radio" name="resume-tab-1" value="resume" class="resume-tab-1" id="resume-tab-1" checked>
                            <label for="resume-tab-1">
                                رزومه
                            </label>
                            <div class="tab-content-1 resume blue-dark-font">
                                طلای کشوری ریاضی سال 92، برنز جهانی ریاضی سال 2014
                                <br>
                                دانشجوی دورشته نرم افزار و ریاضی دانشگاه صنعتی شریف
                            </div>
                        </div>
                        <div class="tab-2 item">
                            <input type="radio" name="resume-tab-1" value="classes" class="resume-tab-2" id="class-tab-1">
                            <label for="class-tab-1">
                                کلاس ها
                            </label>
                            <div class="tab-content-2 resume">
                                <div class="class-tag instructor-field-astronomy instructor-field-astronomy-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-astronomy instructor-field-astronomy-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-astronomy instructor-field-astronomy-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-astronomy instructor-field-astronomy-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-astronomy instructor-field-astronomy-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-astronomy instructor-field-astronomy-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-astronomy instructor-field-astronomy-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-astronomy instructor-field-astronomy-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-astronomy instructor-field-astronomy-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                            </div>
                        </div>
                        <div class="score item instructor-field-astronomy-hover">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="long-box outer-box-shadow-2">
            <div class="thumbnail">
                <img src="Resources/Logos/home/contest.jpg">
            </div>
            <div class="info">
                <div class="head-text">
                    <div class="instructor-name blue-default-font">
                        آرمین بهنام نیا
                    </div>
                    <div class="instructor-field instructor-field-biology">
                        زیست شناسی
                    </div>
                </div>
                <div class="main-text">
                    <div class="tab-contents">
                    </div>
                    <div class="tabs">
                        <div class="tab-1 item">
                            <input type="radio" name="resume-tab-2" value="resume" class="resume-tab-1" id="resume-tab-2" checked>
                            <label for="resume-tab-2">
                                رزومه
                            </label>
                            <div class="tab-content-1 resume blue-dark-font">
                                طلای کشوری ریاضی سال 92، برنز جهانی ریاضی سال 2014
                                <br>
                                دانشجوی دورشته نرم افزار و ریاضی دانشگاه صنعتی شریف
                            </div>
                        </div>
                        <div class="tab-2 item">
                            <input type="radio" name="resume-tab-2" value="classes" class="resume-tab-2" id="class-tab-2">
                            <label for="class-tab-2">
                                کلاس ها
                            </label>
                            <div class="tab-content-2 resume">
                                <div class="class-tag instructor-field-biology instructor-field-biology-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-biology instructor-field-biology-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-biology instructor-field-biology-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-biology instructor-field-biology-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-biology instructor-field-biology-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-biology instructor-field-biology-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-biology instructor-field-biology-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-biology instructor-field-biology-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                                <div class="class-tag instructor-field-biology instructor-field-biology-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                            </div>
                        </div>
                        <div class="score item instructor-field-biology-hover">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="long-box outer-box-shadow-2">
            <div class="thumbnail">
                <img src="Resources/Logos/home/contest.jpg">
            </div>
            <div class="info">
                <div class="head-text">
                    <div class="instructor-name blue-default-font">
                        آرمین بهنام نیا
                    </div>
                    <div class="instructor-field instructor-field-chemistry">
                        شیمی
                    </div>
                </div>
                <div class="main-text">
                    <div class="tab-contents">
                    </div>
                    <div class="tabs">
                        <div class="tab-1 item">
                            <input type="radio" name="resume-tab-3" value="resume" class="resume-tab-1" id="resume-tab-3" checked>
                            <label for="resume-tab-3">
                                رزومه
                            </label>
                            <div class="tab-content-1 resume blue-dark-font">
                                طلای کشوری ریاضی سال 92، برنز جهانی ریاضی سال 2014
                                <br>
                                دانشجوی دورشته نرم افزار و ریاضی دانشگاه صنعتی شریف
                            </div>
                        </div>
                        <div class="tab-2 item">
                            <input type="radio" name="resume-tab-3" value="classes" class="resume-tab-2" id="class-tab-3">
                            <label for="class-tab-3">
                                کلاس ها
                            </label>
                            <div class="tab-content-2 resume">
                                <div class="class-tag instructor-field-chemistry instructor-field-chemistry-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                            </div>
                        </div>
                        <div class="score item instructor-field-chemistry-hover">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="long-box outer-box-shadow-2">
            <div class="thumbnail">
                <img src="Resources/Logos/home/contest.jpg">
            </div>
            <div class="info">
                <div class="head-text">
                    <div class="instructor-name blue-default-font">
                        آرمین بهنام نیا
                    </div>
                    <div class="instructor-field instructor-field-computer">
                        کامپیوتر
                    </div>
                </div>
                <div class="main-text">
                    <div class="tab-contents">
                    </div>
                    <div class="tabs">
                        <div class="tab-1 item">
                            <input type="radio" name="resume-tab-4" value="resume" class="resume-tab-1" id="resume-tab-4" checked>
                            <label for="resume-tab-4">
                                رزومه
                            </label>
                            <div class="tab-content-1 resume blue-dark-font">
                                طلای کشوری ریاضی سال 92، برنز جهانی ریاضی سال 2014
                                <br>
                                دانشجوی دورشته نرم افزار و ریاضی دانشگاه صنعتی شریف
                            </div>
                        </div>
                        <div class="tab-2 item">
                            <input type="radio" name="resume-tab-4" value="classes" class="resume-tab-2" id="class-tab-4">
                            <label for="class-tab-4">
                                کلاس ها
                            </label>
                            <div class="tab-content-2 resume">
                                <div class="class-tag instructor-field-computer instructor-field-computer-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                            </div>
                        </div>
                        <div class="score item instructor-field-computer-hover">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="long-box outer-box-shadow-2">
            <div class="thumbnail">
                <img src="Resources/Logos/home/contest.jpg">
            </div>
            <div class="info">
                <div class="head-text">
                    <div class="instructor-name blue-default-font">
                        آرمین بهنام نیا
                    </div>
                    <div class="instructor-field instructor-field-literature">
                        ادبیات
                    </div>
                </div>
                <div class="main-text">
                    <div class="tab-contents">
                    </div>
                    <div class="tabs">
                        <div class="tab-1 item">
                            <input type="radio" name="resume-tab-5" value="resume" class="resume-tab-1" id="resume-tab-5" checked>
                            <label for="resume-tab-5">
                                رزومه
                            </label>
                            <div class="tab-content-1 resume blue-dark-font">
                                طلای کشوری ریاضی سال 92، برنز جهانی ریاضی سال 2014
                                <br>
                                دانشجوی دورشته نرم افزار و ریاضی دانشگاه صنعتی شریف
                            </div>
                        </div>
                        <div class="tab-2 item">
                            <input type="radio" name="resume-tab-5" value="classes" class="resume-tab-2" id="class-tab-5">
                            <label for="class-tab-5">
                                کلاس ها
                            </label>
                            <div class="tab-content-2 resume">
                                <div class="class-tag instructor-field-literature instructor-field-literature-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                            </div>
                        </div>
                        <div class="score item instructor-field-literature-hover">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="long-box outer-box-shadow-2">
            <div class="thumbnail">
                <img src="Resources/Logos/home/contest.jpg">
            </div>
            <div class="info">
                <div class="head-text">
                    <div class="instructor-name blue-default-font">
                        آرمین بهنام نیا
                    </div>
                    <div class="instructor-field instructor-field-math">
                        ریاضی
                    </div>
                </div>
                <div class="main-text">
                    <div class="tab-contents">
                    </div>
                    <div class="tabs">
                        <div class="tab-1 item">
                            <input type="radio" name="resume-tab-6" value="resume" class="resume-tab-1" id="resume-tab-6" checked>
                            <label for="resume-tab-6">
                                رزومه
                            </label>
                            <div class="tab-content-1 resume blue-dark-font">
                                طلای کشوری ریاضی سال 92، برنز جهانی ریاضی سال 2014
                                <br>
                                دانشجوی دورشته نرم افزار و ریاضی دانشگاه صنعتی شریف
                            </div>
                        </div>
                        <div class="tab-2 item">
                            <input type="radio" name="resume-tab-6" value="classes" class="resume-tab-2" id="class-tab-6">
                            <label for="class-tab-6">
                                کلاس ها
                            </label>
                            <div class="tab-content-2 resume">
                                <div class="class-tag instructor-field-math instructor-field-math-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                            </div>
                        </div>
                        <div class="score item instructor-field-math-hover">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="long-box outer-box-shadow-2">
            <div class="thumbnail">
                <img src="Resources/Logos/home/contest.jpg">
            </div>
            <div class="info">
                <div class="head-text">
                    <div class="instructor-name blue-default-font">
                        آرمین بهنام نیا
                    </div>
                    <div class="instructor-field instructor-field-physics">
                        فیزیک
                    </div>
                </div>
                <div class="main-text">
                    <div class="tab-contents">
                    </div>
                    <div class="tabs">
                        <div class="tab-1 item">
                            <input type="radio" name="resume-tab-7" value="resume" class="resume-tab-1" id="resume-tab-7" checked>
                            <label for="resume-tab-7">
                                رزومه
                            </label>
                            <div class="tab-content-1 resume blue-dark-font">
                                طلای کشوری ریاضی سال 92، برنز جهانی ریاضی سال 2014
                                <br>
                                دانشجوی دورشته نرم افزار و ریاضی دانشگاه صنعتی شریف
                            </div>
                        </div>
                        <div class="tab-2 item">
                            <input type="radio" name="resume-tab-7" value="classes" class="resume-tab-2" id="class-tab-7">
                            <label for="class-tab-7">
                                کلاس ها
                            </label>
                            <div class="tab-content-2 resume">
                                <div class="class-tag instructor-field-physics instructor-field-physics-light">
                                    <!--<div class="inner"></div>-->
                                    آشنایی با ترکیبیات
                                </div>
                            </div>
                        </div>
                        <div class="score item instructor-field-physics-hover">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
