<div class="blog-page">
    <div class="main-bar">
        <div class="post-block outer-box-shadow-2" id="post-block-1">
            <div class="head-text">
                <div class="main-text blue-default-font">
                    سایت جدید آموزشگاه علمی ذهن زیبا راه اندازی شد
                </div>
                <div class="other-text gray-default-font">
                    <div class="date">
                        13 مرداد 1396
                    </div>
                    <div class="tags">
                        خبر، سایت
                        <i class="fa fa-tags"></i>
                    </div>
                </div>
            </div>
            <div class="post-text">
                <div class="inner">
                    <div class="main-text">
                        وبگاه آموزشگاه ذهن ذیبا به روز شد.
                        <p>تغییرات در نسخه بروز شده</p>
                        <ul>
                            <li>
                                طراحی جدید و جذاب تر
                            </li>
                            <li>
                                اضافه شدن بخش مسابقات به سایت
                            </li>
                            <li>
                                امکان ثبت نام و دریافت حساب کاربری
                            </li>
                            <li>
                                اضافه شدن بخش فروشگاه به سایت و امکان خرید اینترنی جزوه
                            </li>
                            <li>
                                راه اندازی بلاگ وبسایت
                            </li>
                        </ul>
                    </div>
                    <div class="thumbnail">
                        <img src="Resources/Site/post/1/logo.jpg">
                    </div>
                </div>
                <div class="button_st1">
                    بیشتر...
                </div>
            </div>
        </div>
        <div class="post-block outer-box-shadow-2" id="post-block-2">
            <div class="head-text">
                <div class="main-text blue-default-font">
                    سایت جدید آموزشگاه علمی ذهن زیبا راه اندازی شد
                </div>
                <div class="other-text gray-default-font">
                    <div class="date">
                        13 مرداد 1396
                    </div>
                    <div class="tags">
                        خبر، سایت
                        <i class="fa fa-tags"></i>
                    </div>
                </div>
            </div>
            <div class="post-text">
                <div class="inner">
                    <div class="main-text">
                        وبگاه آموزشگاه ذهن ذیبا به روز شد.
                        <p>تغییرات در نسخه بروز شده</p>
                        <ul>
                            <li>
                                طراحی جدید و جذاب تر
                            </li>
                            <li>
                                اضافه شدن بخش مسابقات به سایت
                            </li>
                            <li>
                                امکان ثبت نام و دریافت حساب کاربری
                            </li>
                            <li>
                                اضافه شدن بخش فروشگاه به سایت و امکان خرید اینترنی جزوه
                            </li>
                            <li>
                                راه اندازی بلاگ وبسایت
                            </li>
                        </ul>
                    </div>
                    <div class="thumbnail">
                        <img src="Resources/Site/post/1/logo.jpg">
                    </div>
                </div>
                <div class="button_st1">
                    بیشتر...
                </div>
            </div>

        </div>
        <div class="post-block outer-box-shadow-2" id="post-block-3">
            <div class="head-text">
                <div class="main-text blue-default-font">
                    سایت جدید آموزشگاه علمی ذهن زیبا راه اندازی شد
                </div>
                <div class="other-text gray-default-font">
                    <div class="date">
                        13 مرداد 1396
                    </div>
                    <div class="tags">
                        خبر، سایت
                        <i class="fa fa-tags"></i>
                    </div>
                </div>
            </div>
            <div class="post-text">
                <div class="inner">
                    <div class="main-text">
                        وبگاه آموزشگاه ذهن ذیبا به روز شد.
                        <p>تغییرات در نسخه بروز شده</p>
                        <ul>
                            <li>
                                طراحی جدید و جذاب تر
                            </li>
                            <li>
                                اضافه شدن بخش مسابقات به سایت
                            </li>
                            <li>
                                امکان ثبت نام و دریافت حساب کاربری
                            </li>
                            <li>
                                اضافه شدن بخش فروشگاه به سایت و امکان خرید اینترنی جزوه
                            </li>
                            <li>
                                راه اندازی بلاگ وبسایت
                            </li>
                        </ul>
                    </div>
                    <div class="thumbnail">
                        <img src="Resources/Site/post/1/logo.jpg">
                    </div>
                </div>
                <div class="button_st1">
                    بیشتر...
                </div>
            </div>

        </div>
    </div>
    <div class="side-bar">
        <div class="blog-sidebar-block outer-box-shadow-2">
            <div class="head-text blue-default-font">تازه ها</div>
            <div class="main-text">
                <div class="item">
                    سایت آموزشگاه بروز رسانی شد
                </div>
                <div class="item">
                    ثبت نام طرح سپهر آغاز شد
                </div>
                <div class="item">
                    ولادت امام رضا (ع) مبارک باد
                </div>
            </div>
        </div>
        <div class="blog-sidebar-block outer-box-shadow-2">
            <div class="head-text blue-default-font">موضوعات</div>
            <div class="main-text">
                <div class="item">
                    المپیاد
                </div>
                <div class="item">
                    کنکور
                </div>
                <div class="item">
                    ریاضی
                </div>
                <div class="item">
                    فیزیک
                </div>
                <div class="item">
                    زیست شناسی
                </div>
                <div class="item">
                    شیمی
                </div>
                <div class="item">
                    ادبیات
                </div>
                <div class="item">
                    کامپیوتر
                </div>
            </div>
        </div>
        <div class="blog-sidebar-block outer-box-shadow-2">
            <div class="head-text blue-default-font">آرشیو</div>
            <div class="main-text">
                <div class="item">
                    هفته اخیر
                </div>
                <div class="item">
                    ماه اخیر
                </div>
                <div class="item">
                    تیر
                </div>
                <div class="item">
                    خرداد
                </div>
                <div class="item">
                    اردیبهشت
                </div>
                <div class="item">
                    فروردین
                </div>
                <div class="item">
                    سال 1395
                </div>
                <div class="item">
                    سال 1394
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-footer">
    <div class="page-control">
        <div class="item pg-first">
            اولین
        </div>
        <div class="item pg-before">
            قبلی
        </div>
        <div class="item pg-1">
            1
        </div>
        <div class="item pg-2">
            2
        </div>
        <div class="item pg-dot">
            ...
        </div>
        <div class="item pg-last">
            10
        </div>
        <div class="item pg-after">
            بعدی
        </div>
    </div>
</div>
