<div class="class-page">
    <div class="directory-explorer blue-sharp-light">
        <div class="directory-bar">
            <div class="address">
                <div class="item blue-sharp"> المپیاد
                    <div class="dummy"></div>
                    <div class="flash"></div>
                </div>
                <div class="item blue-sharp">ریاضی
                    <div class="dummy"></div>
                    <div class="flash"></div>
                </div>
                <div class="item blue-sharp">آشنایی با ترکیبیات
                    <div class="dummy"></div>
                    <div class="flash"></div>
                </div>
            </div>
            <div class="search">
                <div class="up">
                    <i class="fa fa-arrow-up"></i>
                </div>
                <div class="inner">
                    <input type="text" placeholder="نام کلاس">
                </div>
            </div>
        </div>
        <div class="main">
            <div class="item">
                <div class="inner blue-sharp">المپیاد</div>
            </div>
            <div class="item">
                <div class="inner blue-sharp">درسی</div>
            </div>
            <div class="item">
                <div class="inner blue-sharp">کنکور</div>
            </div>
            <div class="item">
                <div class="inner blue-sharp">مشاوره</div>
            </div>
        </div>
    </div>
</div>
