<div class="spacer3"></div>
</section>
<footer class="blue-sharp">
    <script>hide('footer')</script>
    <div class="spacer2"></div>
    <ul id="footer-links">
        <li><a href="index.php">خانه</a></li>
        <li><a href="class.php">کلاس ها</a></li>
        <li><a href="about.php">کادر آموزشی</a></li>
        <li><a href="contest.php">مسابقات</a></li>
        <li><a href="news.php">اخبار</a></li>
        <li><a href="introduction.php">درباره ما</a></li>
        <li><a href="contact.php">تماس با ما</a></li>
        <li><a href="shop.php">فروشگاه</a></li>
    </ul>
    <div class="copy-right">
        آموزشگاه علمی ذهن زیبا
    </div>
</footer>
</body>
</html>